html,body {
    margin: auto;
}
header {
    background-image: url("taustalehmukset.jpg");
    background-size: auto;
    background-position: center;
   height:400px;
}
header h1 {
    color: rgb(255, 255, 255);
    font-family: 'Rock Salt', cursive;
    font-size: 60px;
    padding: 120px 10px 120px 10px;
    margin: 0px;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.923);
    font-weight: 200;
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}
ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
}
ul li a.active {
  background-color: #65882C;
  color: black;
}
body {
    background-color: #333333;
    color: white; 
    font-family: "Roboto Condensed", sans-serif;

}main {
    width: 55%;
    margin: 50px 50px;
    padding: 50px 20px;
    font-size: 20px;
    line-height: 2; 
    text-align: justify;
    display:block;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}
.profile-pic {
    width: 400px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 100px auto;
}
.pic {
    width: 400px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 100px auto;
}
.verticalpic {
    width: 400px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 100px auto;
}
footer {
    background-color: #65882C;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
    bottom: 0;
}
.quote {
    font-style: italic;
    font-size: 28px;
    text-align: center;
    margin: 100px 0;
    color:#65882C;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.252);
}
@media only screen and (max-width:649px){
header h1 {
   line-height:1.5;
}
.profile-pic {
    width: 300px;
}
}
@media only screen and (min-width:650px) {
    main {
        width: 75%;
        margin: 100px;
    } 
    .pic {
    width: 600px;
}
}
.verticalpic {
    width: 600px;
    height: auto;
}
@media only screen and (min-width:1025px) {
    main {
        width: 60%;
        margin: 100px auto;
         font-size: 22px;
    }
    .pic {
    width: 800px;
}
.profile-pic {
    width: 600px;
}
}